<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Eleventy Site - {{title}}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  </head>
  <body>
  <header class="bg-black text-gray-50 py-4">
    {% include "partials/_navigation.njk" %}
  </header>
  <main class="max-w-3xl mx-auto py-12 min-h-screen">
    {{content | safe}}
  </main>
  <footer>
    {% include "partials/_footer.njk" %}
  </footer>
  </body>
</html>